<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Campaign Manager</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/main.js"> </script>
    <link rel='stylesheet' href='/static/css/index.css' />
</head>

<body>
    <div id="main">
        <h1>Mail Campaign Manager</h1>
        
        <form id="campaign-form">

            Select a Campaign:
            <select id="campaign-dropdown">
                <option value="">Loading campaigns...</option>
            </select>
            <div id="campaign-preview" style="width:80%;height:400px;border:1px solid blue;"></div>
        <br/>
        <div style="width:80%;height:200px;border:1px solid black;padding:20px;">
            Select a List:
            <select id="list-dropdown">
                <option value="">Loading lists...</option>
            </select>
            <button style="display:none;" id="download-list">Download this list</button>
        <br/>
            <div style="width:80%;height:80px;background-color:#ccc;" id="example-data">Email samples will show up here</div>
            <label for="csv-file">Upload new list (CSV File):</label>
            <input type="file" id="csv-file" name="csv-file" accept=".csv" required>
        </div>
        <br/> 
            From:
            <select id="from-dropdown">
                <option value="">Loading froms...</option>
            </select>
             
        <br/>
            <label for="subject-line">Subject Line:</label>
            <input type="text" id="subject-line" name="subject-line" required><br><br>
            
            <button type="button" id="run-test">Run Test</button>
            <div id="test-results"></div><br>
            
            <button type="button" id="start-campaign">Start Campaign</button>
            <div id="campaign-status"></div>
        </form>
        
        <h2>Analytics</h2>
        <label for="campaign-list">Select Campaign:</label>
        <select id="campaign-list"></select>
        <button type="button" id="view-analytics">View Analytics</button>
        <div id="analytics-results"></div>
    </div> 

</body>
</html>

